## This file cleans up the scraped data
- Convert data into proper types

In [1]:
import pandas as pd
import patsy
import numpy as np

In [2]:
df = pd.read_pickle('products_df.pkl')

#### Price

In [3]:
mask = df.price.map(lambda x: len(x)) > 6
df.loc[mask, "price"] = \
df.price.loc[mask].map(lambda x: x.split('to')[0].strip())
df.loc[mask, "price"] = df.price.map(lambda x: x.replace(",", ""))
mask = df.price.map(lambda x: x == 'Tap item')
df.loc[mask, "price"] = None
df.loc[:,"price"] = df.price.map(lambda x: "{:.2f}".format(float(x)) if x != None else None)

#### status

In [4]:
df.status.value_counts()

Brand New      3536
Pre-Owned      1427
Open Box        618
Refurbished     209
Name: status, dtype: int64

In [5]:
X = patsy.dmatrix('status',data=df,return_type='dataframe').iloc[:,1:]
# df.iloc[[i not in X.index for i in df.index]]

In [6]:
df = pd.concat([df, X], axis=1, sort=False).drop('status', axis = 1)

In [7]:
df = df.rename(columns = {"status[T.Open Box]": "open_box", "status[T.Pre-Owned]" : "pre_owned", "status[T.Refurbished]" : "refurbished"})

#### (average) rating

In [8]:
df.rating.value_counts()

5.0    463
4.5    328
4.0     51
3.5     19
3.0     14
1.0     14
2.0      5
2.5      5
Name: rating, dtype: int64

In [9]:
df.loc[:,"rating"] = df.rating.map(lambda x: float(format(float(x), ".1f")) if x != None else None)

#### shipping

In [10]:
def filter_shipping(value):
    if value == None:
        return None
    if "Free" in value:
        return 0
    else:
        return "{:.2f}".format(float(value.split('shipping')[0][2:].strip()))

In [11]:
df.shipping.value_counts()

Free shipping        3586
+$14.90 shipping      213
+$20.00 shipping      155
+$5.00 shipping        76
+$9.60 shipping        68
                     ...
+$103.45 shipping       1
+$7.55 shipping         1
+$11.71 shipping        1
+$13.22 shipping        1
+$25.55 shipping        1
Name: shipping, Length: 437, dtype: int64

In [12]:
df.loc[:,'shipping'] = df.shipping.map(filter_shipping)

#### return

In [13]:
df['return'].value_counts()

Free returns    1488
Name: return, dtype: int64

In [14]:
df['return'] = df['return'].map(lambda x: 1 if x == 'Free returns' else 0)

In [15]:
df = df.rename(columns = {'return': 'free_return'})

In [16]:
df.head(1)

,name,epid,link,price,rating,shipping,free_return,num_ratings,hotness,sold,open_box,pre_owned,refurbished
0,GK806 Wire Gaming Keyboard and Mouse Combo Bac...,24033837546,https://www.ebay.com/itm/GK806-Wire-Gaming-Key...,29.98,4.5,0,0,4,None,238 sold,0.0,0.0,0.0

#### num_ratings

In [17]:
df.num_ratings.value_counts()

0      5096
2        99
3        69
6        41
5        40
       ...
50        1
22        1
49        1
148       1
317       1
Name: num_ratings, Length: 100, dtype: int64

In [18]:
type(df.num_ratings[0])

numpy.int64

#### hotness

In [19]:
df.hotness.value_counts()

Last one            136
Benefits charity     31
2 watchers           21
4 watchers           14
3 watchers           12
                   ...
53+ watchers          1
21 sold               1
91 sold               1
445 sold              1
14 sold               1
Name: hotness, Length: 298, dtype: int64

In [20]:
mask = df.hotness.map(lambda x: x is not None)

In [21]:
# Basically, this cell is for rows to have 'sold' string in only "sold" column, not in "hotness" column

# Except for the rows that have 'sold' string in "hotness" column but not in "sold" column,
# remove the rows that have 'sold' string in both "hotness" and "sold" columns
duplicate_indices = np.array(df.hotness[mask].index[df.hotness[mask].map(lambda x: True if "sold" in x else False)])
non_duplicate_indices = []
for i in duplicate_indices:
    if i not in df.sold[mask].index[df.sold[mask].map(lambda x: 'sold' in x if type(x) == str else False)]:
        duplicate_indices = np.delete(duplicate_indices, np.where(duplicate_indices == i))
        non_duplicate_indices.append(i) 
df.loc[duplicate_indices, 'hotness'] = None

# In the rows that have 'sold' string in "hotness" column but not in "sold" column,
# move the 'sold' string to "sold" column and replace the "hotness" column with None
df.loc[non_duplicate_indices, 'sold'] = df.loc[non_duplicate_indices, 'hotness']
df.loc[non_duplicate_indices, 'hotness'] = None

In [22]:
# Create a new column "watchers" and put number of watchers in there
mask = df.hotness.map(lambda x: x is not None)
mask_watcher = df.hotness.loc[mask].map(lambda x: True if "watcher" in x else False)
df.loc[mask, "watcher"] = df.hotness[mask].loc[mask_watcher]
df.loc[df.loc[mask].loc[mask_watcher].index, 'hotness'] = None

In [23]:
df.hotness.value_counts()

Last one               136
Benefits charity        31
                        11
Tue, Jul. 14             4
Wed, Jul. 15             3
Free 3 day shipping      1
Name: hotness, dtype: int64

Keep only 'Last one' and 'Benefits charity' as for hotness

In [24]:

mask = ((df.hotness == 'Benefits charity') | (df.hotness == 'Last one')) == False

df.loc[mask,'hotness'] = None
df.hotness.value_counts()

Last one            136
Benefits charity     31
Name: hotness, dtype: int64

Convert num of watchers into integer

In [25]:
df.loc[:,'watcher'] = df['watcher'].fillna(0)
df.loc[:,'watcher'] = df.watcher.map(lambda x: int(x.split(' watchers')[0].strip().strip('+')) if type(x) == str else x)

In [26]:
np.where(df.hotness == 'Benefits charity')

(array([ 890,  891,  974, 1086, 1117, 1294, 1614, 1676, 1766, 1962, 1982,
        2048, 2076, 2116, 2589, 2597, 2729, 3010, 3351, 3397, 3636, 3762,
        3805, 3834, 3843, 3850, 3970, 4035, 4678, 5220, 5474]),)

In [27]:
pd.get_dummies(df["hotness"])

      Benefits charity  Last one
0                    0         0
1                    0         0
2                    0         0
3                    0         0
4                    0         0
...                ...       ...
5789                 0         0
5790                 0         0
5791                 0         0
5792                 0         0
5793                 0         0

[5794 rows x 2 columns]

In [28]:
df = pd.concat([df, pd.get_dummies(df["hotness"])], axis=1, sort=False).drop('hotness', axis = 1)

In [29]:
df = df.rename(columns = {"Benefits charity": "benefits_charity", "Last one": "last_one"})

#### sold

In [30]:
sum(df.sold.map(lambda x: x == 0)) + sum(df.sold.map(lambda x: "sold" in x if type(x) != int else False))

5794

In [31]:
len(df.sold)# sold column either has "sold" in it or it's zero

5794

Convert string values to integer

In [32]:
mask = df.sold.map(lambda x: "sold" in x if type(x) != int else False)
df.loc[mask, "sold"] = df.loc[mask, "sold"].map(lambda x: int(x.split(' sold')[0].strip().replace(',','')))

In [33]:
df = df[['epid', 'name', 'link', 'price', 'rating', 'num_ratings', 'watcher', 'shipping', 'free_return', 'open_box', 'pre_owned', 'refurbished', 'benefits_charity', 'last_one', 'sold']]
df.loc[:,"price"] = pd.to_numeric(df.price)
df.loc[:,"shipping"] = pd.to_numeric(df.shipping)
df.loc[:,"sold"] = pd.to_numeric(df.sold)

In [34]:
# pd.to_pickle(df, 'clean_products_df.pkl')
# df = pd.read_pickle('clean_products_df.pkl')

In [35]:
df.dtypes

epid                 object
name                 object
link                 object
price               float64
rating              float64
num_ratings           int64
watcher               int64
shipping            float64
free_return           int64
open_box            float64
pre_owned           float64
refurbished         float64
benefits_charity      uint8
last_one              uint8
sold                  int64
dtype: object